@import "modern-normalize.css";

:root {
    line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
figure,
p,
ol,
ul {
    margin: 0;
}

ol[role="list"],
ul[role="list"] {
    list-style: none;
    padding-inline: 0;
}

h1,
h2,
h3,
h4,
h5 {
    font-size: inherit;
    font-weight: inherit;
}

img {
    display: block;
    max-inline-size: 100%;
}

/* end normalize */
body {
    display: grid;
    grid-template-columns: auto 1fr;
}

.library {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin: 30px;
}

.book {
    border: solid black;
    border-radius: 10px;
    padding: 20px;
}

.book h2 {
    font-size: 1.5rem;
    font-weight: bold;
}

.book .button-list {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.book button {
    border-radius: 5px;
    padding: 5px 15px;
}

.book button.delete {
    background-color: rgba(214, 74, 74, 0.741);
}


.form-section.hide {
    display: none;
}

.form-section.display {
    display: grid;
}

button.display-form {
    position: fixed;
    bottom: 30px;
    right: 30px;
    padding: 10px 40px;
    background-color: green;
    font-size: 3rem;
    font-weight: bold;
    border-radius: 5px;
    border: none;
}