@import "modern-normalize.css";

:root {
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
figure,
p,
ol,
ul {
  margin: 0;
}

ol[role="list"],
ul[role="list"] {
  list-style: none;
  padding-inline: 0;
}

h1,
h2,
h3,
h4,
h5 {
  font-size: inherit;
  font-weight: inherit;
}

img {
  display: block;
  max-inline-size: 100%;
}

/* end normalize */
body {
  display: grid;
  grid-template-columns: auto 1fr;
  height: 100vh;
}

.library {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin: 30px;
  align-content: start;
}

.book {
  border: solid black;
  border-radius: 10px;
  padding: 20px;
}

.book h2 {
  font-size: 1.5rem;
  font-weight: bold;
}

.book .button-list {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.book button {
  border-radius: 5px;
  padding: 5px 15px;
}

.book button.delete {
  background-color: rgba(214, 74, 74, 0.741);
}

.form-section {
  background-color: green;
  padding: 30px;
}

.form-section h2 {
  font-size: 1.7rem;
}

.form-section.hide {
  display: none;
}

.form-section.display {
  display: block;
}

.form-section .book-form {
  margin-top: 20px;
  display: grid;
  row-gap: 20px;
}

.form-section .book-form .form-field {
  display: grid;
  row-gap: 10px;
}

.form-section input[type="text"],
.form-section input[type="number"] {
  border-radius: 5px;
  padding: 5px 10px;
  outline: none;
  border: none;
}

.form-section input[type="checkbox"] {
  height: 20px;
}

.form-section button[type="submit"] {
  margin-top: 20px;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
}

button.display-form {
  position: fixed;
  bottom: 30px;
  right: 30px;
  padding: 10px 40px;
  background-color: green;
  font-size: 3rem;
  font-weight: bold;
  border-radius: 5px;
  border: none;
}

.form-section input:user-invalid {
  border: 3px solid red;
  outline: none;
}
